.weather-card {
  /* width: 300px; */
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 14px;
  margin: 14px auto;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
}
.weather-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 0.9, 1, 0.4);
}
.weather-card img {
  width: 50px;
  height: 50px;
}
.weather-card .details {
  font-size: 16px;
  line-height: 1.5;
}

.temp {
  display: flex;
  flex-direction: row;
  font-size: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.temp .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deg {
  font-size: 20px;
  font-weight: 300;
}
.temp .icons img {
  width: 40px;
  height: 40px;
}

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
