* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background: rgb(53, 145, 243);
  background: linear-gradient(
    135deg,
    rgba(53, 145, 243, 1) 0%,
    rgba(31, 95, 224, 1) 66%,
    rgba(32, 22, 161, 1) 100%
  );
}

body {
  height: 100vh;
  /* background: rgb(53, 145, 243);
  background: linear-gradient(
    135deg,
    rgba(53, 145, 243, 1) 0%,
    rgba(31, 95, 224, 1) 66%,
    rgba(32, 22, 161, 1) 100%
  ); */
}

.main {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-card {
  margin: auto;
}

@media (max-width: 480px) {
  .weather-card {
    padding: 16px;
    flex-direction: column;
  }
}
