body {
  background: rgb(53, 145, 243);
  background: linear-gradient(
    135deg,
    rgba(53, 145, 243, 1) 0%,
    rgba(31, 95, 224, 1) 66%,
    rgba(32, 22, 161, 1) 100%
  );
}
@media (max-width: 768px) {
  .app-name {
    font-size: 20px;
    left: 10px;
    top: 10px;
  }

  .search-bar {
    width: 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
  }

  .search-input {
    padding: 10px 12px;
    width: 100%;
  }

  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 48%;
  }
  .weather-card {
    width: 240px;
  }

  .temp {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .app-name {
    font-size: 18px;
  }

  .search-bar {
    width: 130px;
    align-items: stretch;
  }

  .search-input {
    padding: 6px 10px;
  }
  .search-input::placeholder {
   font-size: 12px;
  }

  .btn {
    width: 110px;
    font-size: 12px;
    padding: 6px 10px;
  }

  .weather-card {
    width: 200px;
    padding: 16px;
  }

  .temp {
    font-size: 24px;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
